*
{
	box-sizing:  border-box;
}
.bod
{
	background-color:#f4f6f9;
	overflow: hidden;
}
.sidemenu
{
	background-color: #302d43;
	/*max-width: 200px;
	width: 200px;*/
	position: absolute;
	top:0;
	bottom: 0;
	height: calc(100vh - 0px);
}
.sidemenu nav a
{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 30px 15px 25px;
	/*padding: 20px;*/
	padding-left: 0px;
	font-weight: 300px;
	transition: all 0.3s ease-in-out;
}
.act
{
	color: #92cf48;
}
.sidemenu nav
{
	padding-top: 100px;
}
.sidemenu nav .fas
{
	font-size: 1.4rem;
	margin-right: 0.8rem;
	display: inline-block;
	width:30px;
	position: relative;
	top: 2px;
}
.sidemenu nav a:hover
{
	background-color: #282639;
	border-left: 5px solid #92ef48;
	padding: 10px 30px 10px 25px;
}
.sidemenu nav a:hover .fas
{
	color: #92cf48;
}
.head
{
	background-color: #fff;
}
header .search .fas
{
	color: #eaedf3;
}
header .search
{
	display: inline-block;
}
header .search input[type="text"]
{
	background:transparent;
	border:none;
	font-size: 1.3rem;
	color: #282639;
	padding: 10px;
	font-weight: 100;
}
header .user_field
{
	display: inline-block;
	float: right;
	padding: 10px;
}
header .user_field a
{
	display: inline-block;
	padding-right: 10px;
	text-decoration: none;
	color: #000;
	vertical-align: top;
	height: 30px;
}
header .notification
{
	position: relative;
	font-size: 20px;
	padding-top: 5px;
}
header .user_field .circle
{
	position: relative;
	background:red;
	width: 14px;
	height: 14px;
	display: inline-block;
	border-radius: 50%;
	font-size: 11px;
	color: white;
	text-align: center;
	position: absolute;
	top: -0.5px;
	left: 15px;
}
header .user_img
{
	background:url(../images/face.jpg) no-repeat center center;
	background-size: cover;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}
.home
{
	background-image: url(../images/bac.jpg);
}
.logincard
{
	padding: 50px 500px;
}
.log
{
	width: 200px;
}
.title
{
	color: white;
}
.logimg img
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.logimg
{
	padding-left: 70px;
}
.card-title
{
	color: red;
}
#log
{
	text-decoration: none;
}
.head
{
	padding-left: 0px;
}
#display
{
	overflow: scroll;
	height: calc(100% - 0px);
}